/* <style> */
a:hover {
  color: #af6992;
  /* text-decoration: underline; */
}

.nav-tabs {
  border-bottom: none;
}

.tab_select_co {
  background-color: #f7c4ff !important;
}

.tab_no_select_co {
  background-color: #a85285 !important;

}


.logoal {
  max-width: 100%;
  width: auto;
  max-height: 6.167rem;

}

.nav-link {
  font-family: Jotia, Verdana, Geneva, sans-serif;
  color: #64003D;
}



.chieu li {
  border: 1px solid white;
  background-color: white;
  padding: 5px;
  border-radius: 12px !important;

  display: inline;
  cursor: default;

}

.chieu li:hover {
  background-image: linear-gradient(to right top, #eca9ff, #c4b1ff, #95b8ff, #5fbeff, #00c1ff);
}

.selected {
  background-image: linear-gradient(to right top, #eca9ff, #c4b1ff, #95b8ff, #5fbeff, #00c1ff);
}

ul {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #495057;
}

a#ftab {
  /* border-top-color: white;
border-right-color: white;
border-bottom-color: transparent;
border-left-color: white; */
}
/* </style>
<style> */
/* ddl custom */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 12px 16px;
  z-index: 2;
  left: 3px;
  color: #495057;
  border: 1px 1px solid white;
  border-radius: 3px 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* </style> */